# Ignore the local Folder
External/Library/*
External/Program/*
Results/*
TestScan/
WorkShop/* 
src/__pycache__/
src/IOs/__pycache__/
src/Module/__pycache__/
src/Test_Factory/*

# Ignore the local file 
cmdRun.py
*.log 
scanRun.py 
*.pkl 
py.py 
*.pyc 
src/.DS_Store