# Ignore the local Folder
bin/*
External/Library
External/Program
External/Prospino
External/*.json
Results/*
TestScan/
WorkShop/* 
src/__pycache__/
src/Sampling Source/

# Ignore the local file 
cmdRun.py
*.log 
scanRun.py 
